
figure {
  margin: 0;
  padding: 0;
}

footer {
  background: #000;
  color: #fff;

  p {
    margin: 0;
  }
}

.container {
  max-width: 1000px;
  margin-inline: auto;
  padding-inline: 10px;
}

.profile {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;

  dt {
    width: 5em;
  }

  dd {
    width: calc(100% - 6em);
    margin: 0;
  }
}

.gallery {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: solid 1px #ccc;
  }

  li:nth-of-type(2n) figure {
    order: 2;
  }
}
